.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 24px 24px;

}

.h1 {
  margin-bottom: 0px;
  background-color: rgb(0, 0, 0);
  padding: 8px 16px;
  width: 100%; /* header width should be 100% */
  text-align: center; /* center header text */
  box-sizing: border-box; /* include padding and border in header width */
}


.explain {
  font-size: 1.125rem;
  max-width: 1200px;
  background-color: rgb(81, 16, 147);
  color: white;
  padding: 16px;
}

.divider {
  width: 50%;
  border-color: rgb(144, 0, 160);
  opacity: .35;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 1px;
  border: 3px solid rgb(255, 255, 255);
  width: 28%;
  min-height: 200px;
  padding: 16px;
  background-color: rgb(0, 0, 0);
}

.optionSelectBox {
  margin: 8px;
  margin-bottom: 20px;
  border-radius: 1px;
  border: 3px solid rgb(204, 204, 204);
  width: 60%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectBoxDescription {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
}

/* Between 1200 and 800 */
@media only screen and (max-width: 800px) {
  .container {
    padding: 0 16px;
  }

  .nftBoxGrid,
  .tokenGrid {
    width: 100%;
    max-width: 100%;
  }
}


/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 0;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(255, 255, 255, 0.4);
  gap: 16px;
  background-color: rgb(0, 0, 0);
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.nftMedia {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* allow items to wrap to new lines if necessary */
  max-width: 100%; /* prevent container from exceeding screen width */
  padding: 20px; /* add some padding to container */
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap; /* allow buttons to wrap to new lines if necessary */
  justify-content: center;
}

.linkList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.linkButton {
  background-color: rgb(248, 248, 248);
  color: #080000;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

/* adjust button styles for smaller screens */
@media only screen and (max-width: 600px) {
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .linkButton {
    padding: 8px 16px;
    margin: 8px;
    font-size: 14px;
  }
}
